// Descriptive Colors
$white: #ffffff;
// $blue: #3f51b5;
// $red: #dc143c;
// $grey: #bbbbbb;
// $light-grey: #eeeeee;
$black:#4d4d4d;
$title-color:#333;
$font-color:#999;
$font-color2:#666;
$d-color:#ddd;