// Descriptive Colors
$white: #ffffff;
$black:#4d4d4d;
$grey:rgba(255,255,255,0.5);
$title-color:#333;
$font-color:#999;
$font-color2:#666;
$d-color:#ddd;
$li-color:#3eaf7c;
$ng-primary:#666;
$nav-top-bg:#001529;
$detail-font-color:#2c3e50;