@import "mixins";

//公共样式__bem
@include b(flex){
  display: flex;
  @include e(flex-1){
    flex: 1;
  }
  @include m(test){
    background: #000000;
  }
  @include when(istest){
    background: #000000;
  }
}

@include b(flex-wrap){
  flex-wrap: wrap;
}



// MATERIAL
@import "reset-zorro";
