<div class="ng-blog-pigeonhole">
    <div class="ng-blog-pigeonhole__items">
        <div class="ng-blog-pigeonhole__item" *ngFor="let items of ObjectKeys(article)">
            <h3><i nz-icon nzType="calendar" nzTheme="fill"></i>&nbsp;&nbsp;{{items}}</h3>
            <ul>
                <li *ngFor="let item of article[items]"><a routerLink="/home"><span>{{item.create_time | format}}</span>&nbsp;&nbsp;{{item.title}}&nbsp;&nbsp;<i nz-icon nzType="read" nzTheme="outline"></i></a></li>
            </ul>
        </div>
    </div>
</div>
