<div class="ng-blog-top">
  <div nz-row [nzGutter]="16">
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXl="6">
      <div class="ng-blog-top__item">
        <h3 class="ng-blog-flex ng-blog-flex--j-between ng-blog-flex--a-center"><span>{{ 'VISITS' | translate }}</span><i nz-icon
            nzType="info-circle" nzTheme="outline"></i></h3>
        <h2>1000</h2>
        <p>图表</p>
        <div class="ng-blog-top__footer">123</div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXl="6">
      <div class="ng-blog-top__item">
        <h3 class="ng-blog-flex ng-blog-flex--j-between ng-blog-flex--a-center"><span>{{ 'ARTICLE_NUM' | translate }}</span><i nz-icon
            nzType="info-circle" nzTheme="outline"></i></h3>
        <h2>1000</h2>
        <p>图表</p>
        <div class="ng-blog-top__footer">123</div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXl="6">
      <div class="ng-blog-top__item">
        <h3 class="ng-blog-flex ng-blog-flex--j-between ng-blog-flex--a-center"><span>{{ 'TAG_POPULATION' | translate }}</span><i nz-icon
            nzType="info-circle" nzTheme="outline"></i></h3>
        <h2>1000</h2>
        <p>图表</p>
        <div class="ng-blog-top__footer">123</div>
      </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXl="6">
      <div class="ng-blog-top__item">
        <h3 class="ng-blog-flex ng-blog-flex--j-between ng-blog-flex--a-center"><span>{{ 'RUNNING_TIME' | translate }}</span><i nz-icon
            nzType="info-circle" nzTheme="outline"></i></h3>
        <h2>1000</h2>
        <p>图表</p>
        <div class="ng-blog-top__footer">123</div>
      </div>
    </div>

  </div>
</div>