<aside class="ng-blog-aside">
  <div class="ng-blog-aside__up">
    <nz-avatar [nzSize]="80" nzSrc="/assets/images/avatar.jpg"></nz-avatar>
  </div>
  <div class="ng-blog-aside__down">
    <h3>L&nbsp;Y&nbsp;J</h3>
    <nav>
      <ul>
        <li>
          <a routerLink="/home">
            {{ 'HOME' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/pigeonhole">
            {{'PIGEONHOLE'| translate}}
          </a>
        </li>
        <li>
            <a routerLink="/about-us">
              {{'ABOUT_US'| translate}}
            </a>
          </li>
      </ul>
    </nav>
  </div>
</aside>