// @import "~@app/styles/mixins";
@import './styles/mixins';

nz-layout {
    height: 100%;
}

nz-sider {
    background: $white;
}

nz-content {
    padding: 30px 20px 20px 20px;
    margin-top: 64px;
}