<header class="ng-blog-header">
  <div nz-row>
    <div nz-col nzSpan="8">
      <nz-date-picker [(ngModel)]="date" nzPlaceHolder="" [nzAllowClear]="false"></nz-date-picker>
    </div>
    <div nz-col nzSpan="8" nzOffset="8" class="ng-blog-header__right ng-blog-flex ng-blog-flex--j-center">
      <app-search class="ng-blog-flex ng-blog-flex--a-center ng-blog-flex--j-center"></app-search>  
      <a href="https://www.baidu.com" target="_blank" class="ng-blog-header__github">
        <i nz-icon nzType="github" nzTheme="outline"></i>
      </a>
      <a nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomCenter'">
        <i nz-icon nzType="global" nzTheme="outline"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="selectLanguage('zh_CN')">
            <a>中文</a>
          </li>
          <li nz-menu-item (click)="selectLanguage('en_US')">
            <a>英文</a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</header>