@import '../../../styles/mixins';

@include b(home) {
    min-height: 90vh;
    min-height: calc(100vh - 104px);

    @include e(content) {
        margin-bottom: 30px;
    }

    @include e(cart-list) {
   
    }
    @include e(refresh){
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 25px;
        background-color: $ng-primary;
        text-align: center;
        color: $white;
        position: fixed;
        z-index: 1000;
        top: 300px;
        right: 0;
        cursor: pointer;
    }
}
